<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligado</title>
    
    <style>

        body {
            
            background-color: gold;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color:black;

        }

        button {

            border-radius: 10px;
            border: none;
            font-size: 20px;
            background-color: black;

        }

        a {

            text-decoration: none;
            color:white;

        }
    </style>

</head>
<body>
    
    <div>
        <h1>LIGADO</h1>
        <button><a href="/led/desligar">DESLIGAR</a></button>
    </div>
    

</body>
</html>